body {

    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);


}

#submit-button {
    background-color: #dededf !important;
    color: #4083c4 !important;
}

.recipes-list {
    height: 80vh;
}

.image-container {
    height: auto;
}

.card-container {
    background-color: grey;
    height: 100%;
}


.recipe-wrapper .side-container {
    background-color: #b0bec5;
    height: 100vh;
}

.form-wrapper {
    padding-top: 2em;
}

.login-form-wrapper {
    height: auto !important;
}

.blue-btn .register-form {
    height: auto !important;
}

.register-btn {
    color: white !important;
}

.recipe-card .logo {
    font-weight: 700;
}

a {
    color: #db2828;
}

a:hover {
    color: #212529;
    text-decoration: none;

}

.recipeCardText {
    font-size: 0.8rem!important;
    color: #000;
}

.recipeCardHeading {
    font-size: 1.0rem!important;
    color: #000;
}

.recentTime {
    font-size: 0.7rem!important;
}

.sortDropdown {
    margin: 0.8rem;
}

.sortDropText {
    font-size: 0.8rem!important;
}

.favText {
    font-size: 0.8rem;
    color: black;
}

.searchBox {
    margin: 0.5rem;
}

.login {
    font-size: 0.6rem;
    color: black;
    text-transform: uppercase;
}

.submitButton,
.searchButton {
    border-radius: 0 !important
}

.card {
    border-radius: 0 !important
}

.voteText {
    padding: 0.4rem 0.5rem 0 0;
}

.voteButton {
    font-size: 0.7rem!important;
}

.directionsContainer {
    padding-bottom: 2rem
}

.inputField{
    padding-right: 0.7rem!important
}
#addAllergenButton,
#addIngredientButton,
#addInstructionButton{
    font-size: 0.6rem!important;
}