

#submit-button {
    background-color: #dededf !important;
    color: #4083c4 !important;
}

.recipes-list{
    height: 80vh;
}
.image-container{
    height: auto;
}

.card-container{
    /*background-color: grey; */
    height: 100%;
}


.recipe-wrapper
.side-container{
    /*background-color: #b0bec5;*/
    height: 100vh;
}

.form-wrapper{
    padding-top: 2em;
}

.login-form-wrapper{
    height: auto !important;
}

.register-form{
    height: auto !important;
}

.register-btn{
    color: white !important;
}

.recipe-card{
 margin-bottom: 2em;
}