body {

    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);
}

#loginStatus {
    padding-bottom: 0.6rem;
}

.navBar {
    background-color: #e8e8e8 !important;
}

a,
.nav-link {
    color: #000!important;
}


a:hover {
    color: #443939 !important;
}

#submit-button {
    background-color: #dededf !important;
    color: #4083c4 !important;
}

.allergenTagText {
    font-size: 0.7rem!important;
    text-transform: uppercase;
}

.searchBarContainer {
    padding-bottom: 0px!important
}

.filterRecipeDropdownText {
    font-size: 0.7rem;
    text-transform: uppercase;

}


.loggedInUser {
    margin-top: 0.4rem !important;
}

.recipes-list {
    height: 100vh;
}

.image-container {
    height: auto;
}

.card-container {
    background-color: grey;
    height: 100%;
}

.navText {
    text-transform: uppercase !important;
    font-size: 0.98rem !important;
}

.recipe-wrapper .side-container {
    background-color: #b0bec5;
    height: 100vh;
}

.form-wrapper {
    padding-top: 2em;
}

.login-form-wrapper {
    height: auto !important;
}

.blue-btn .register-form {
    height: auto !important;
}

.register-btn {
    color: white !important;
}

.recipe-card .logo {
    font-weight: 700;
}

a {
    color: #db2828;
}

a:hover {
    color: #212529;
    text-decoration: none;

}

.recipeCardText {
    font-size: 0.8rem!important;
    color: #000;
}

.recipeCardHeading {
    font-size: 1.0rem!important;
    color: #000;
}

.recentTime {
    font-size: 0.7rem!important;
}

.sortDropdown {
    margin: 0.6rem 0.8rem;
}

.sortDropText {
    font-size: 0.8rem!important;
}

.favText {
    font-size: 0.8rem;
    color: black;
}

.searchBox {
    /*margin: 1.2rem;
    */
}

.login {
    font-size: 0.6rem;
    color: black;
    text-transform: uppercase;
}

input,
.loginWrapper,
.flatButton,
.submitButton,
.searchButton {
    border-radius: 0 !important
}

.card {
    border-radius: 0 !important
}

.voteText {
    padding: 0.4rem 0.5rem 0 0;
}


.voteButton {
    font-size: 0.7rem!important;
}

.directionsContainer {
    padding-bottom: 2rem
}

.inputField {
    padding-right: 0.7rem!important
}

#addAllergenButton,
#addIngredientButton,
#addInstructionButton {
    font-size: 0.6rem!important;
}

.resultBar {
    padding-top: 1.9rem!important;
    margin-left: -0.1rem
}

.filterWrapper {
    margin-top: -5px;
    border-radius: 0;
    height: 2.7rem;
    margin-bottom: 10px
}

.favourites,
.mostRecent {
    margin: 1rem auto !important;
    margin-bottom: 1rem!important;
    width: auto!important;
}

.sideBarWrapper {
    margin-top: 1rem!important
}

.deleteIcon {
    margin-top: 1rem !important;
}

.focus {
    padding-bottom: 0.2rem !important;
}

@media only screen and (max-width: 767px) {
    .ui.container {
        margin-right: 0px !important;
    }

    #recipeCardContainer {
        margin-left: 1.5rem !important;
    }
}
