<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <div class="ui container">
        <div class="ui menu">
            <div class="header item"><a href="index" class="brand-logo center">Our Recipe Book</a></div>
            <div><a class="item" href="index">Login</a></div>
            <div><a class="item" href="register">Register</a></div>
            <div><a class="item" href="get_cuisine">Receipes</a></div>
            <div><a class="item" href="add_recipe">Add Recipe</a></div>
        </div>

        <div class="ui container">
            {% block content %} {% endblock %}
        </div>
    </div>








    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sidenav').sidenav();
            $('.datepicker').datepicker();
            $('select').formSelect();
            $('select.dropdown')
                .dropdown();
            $(document).ready(function() {
                $('input#input_text, textarea#textarea2').characterCounter();
            });
        });
    </script>

</body>

</html>
