<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>

    <div class="ui container">
        <div class="ui menu">
            <div class="header item">
                <a class="item logo" href="index">Food Explorers</a>
            </div>
            <a class="item" href="get_cuisine">Recipes</a>
            <a class="item" href="add_recipe">Add Recipe</a>
            <div class="right menu">
                <div class="item">
                    {% if 'username' in session %}
                    <a class="item" href="/logout">Logout</a> {% else %}
                    <a class="item" href="/index">Login</a>
                    <a class="item" href="/register">SignUp</a>{% endif %}
                </div>
            </div>
        </div>
        <div class="right menu">
            {% if 'username' in session %} Logged in as

            <div class="ui label blue">
                <a class="item">
            <i class="icon user"></i> {{session['username']}}
                  </a> </div>

            {% else %} {% endif %}
        </div>
    </div>{% block content %} {% endblock %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


</body>

</html>
