{% extends 'base.html' %} {% block content %}

<div class="ui container">

 

    <div class="ui column grid">
 <div class="four wide column">

            <div class="ui middle aligned divided list">
                <div class="ui card">
                    <div class="extra content yellow">
                        Favorites
                    </div>
                </div>
                {% for fav in favourites %}
                <div class="ui card">

                    <div class="extra content">
                        <div class="center left author">
                            <img class="ui avatar image" src="/static/images/waffle-heart-2697904_1280.jpg"> {{fav.0}}
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
     <div class="eight wide column">
            <h5>Category View</h5>
             {% for recipe in recipes %}

            
                <div class="ui one cards">

                    <div class="ui card">
                        <div class="content">
                            <div class="right floated meta">{{recipe.record.title.upper()}}</div>
                            <img class="ui avatar image" src="/static/images/woodbud-vii-1632173-639x426.jpg">by: {{recipe.uploaded_by.upper()}}
                        </div>
                        <div class="image">
                            <a href="{{ url_for('show_detail', recipe_id=recipe._id)}}" class="id" id="{{recipe._id}}">
                    <img class="ui  image huge"  src="/static/images/food-2068217_640.jpg" >
                    </a>
                        </div>
                        <div class="content">
                            <span class="right floated">
                          
       <a href="{{ url_for('up_votes', _id=recipe._id)}}"><i class="thumbs up icon"></i></a>
       <i class="users icon"></i> {{recipe.up_votes}}
    </span>
                            <i class="calendar icon"></i> {{recipe.date_updated}}
                        </div>
                        <div class="extra content">
                            <div class="ui large transparent left icon input">
                                <a href="{{ url_for('favourites', _id=recipe._id)}}"> <i class="heart outline icon"></i></a>
                            </div>
                            <div class="ui large transparent left icon red">
                                <a href="{{ url_for('render_favourites')}}"> <i class="heart outline icon"></i></a>
                            </div>
                        </div>
                    </div>


                </div>
              {% endfor %}
            </div>

            <div class="four wide column">

            <div class="ui middle aligned divided list">
                <div class="ui labeled icon top right pointing dropdown button">
                    <i class="filter icon"></i>
                    <span class="text">Filter Recipes</span>
                    <div class="menu">
                        <div class="ui search icon input">
                            <i class="search icon"></i>
                            <input type="text" name="search" placeholder="Search issues...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Filter by tag
                        </div>
                        <a class="item" href="{{ url_for('browse_filter', query='up_votes', sort='descending')}}" id="up_votes">
                            <div class="item">
                                <div class="ui red empty circular label"></div>
                                Most Votes Descending
                            </div>
                        </a>
                        <a class="item" href="{{ url_for('browse_filter', query='up_votes', sort='ascending')}}" id="up_votes">
                            <div class="item">
                                <div class="ui red empty circular label"></div>
                                Most Votes Ascending
                            </div>
                        </a>
                       <a class="item" href="{{ url_for('browse_filter', query='country', sort='Ireland')}}" id="country">
                            <div class="ui black empty circular label"></div>
                            Country
                        </div> </a>
                        
                        <div class="divider"></div>
                        <div class="header">
                            <i class="calendar icon"></i> Filter by date
                        </div>
                        <div class="item">
                            <i class="olive circle icon"></i> This Week
                        </div>
                        <div class="item">
                            <i class="violet circle icon"></i> This Month
                        </div>
                        <div class="item">
                            <i class="orange circle icon"></i> This Year
                        </div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="extra content yellow">
                        <div class="center aligned author "> Categories</div>
                    </div>
                </div>
                {% for cat in categories %}

                <a class="text" href="{{ url_for('browse_filter', sort=cat.category_name, query='category' ) }}" id="category">
                    <div class="ui card">

                        <div class="extra content">
                            <div class="center aligned author">
                                {{cat.category_name}}
                            </div>
                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>


            <div class="card item">
                <div class="ui middle aligned divided list">
                    <div class="ui top attached label  center aligned header light yellow">Most Recent</div>
                    {% for cat in recipes %}
                    <div class="item ">
                        <a class="text " href="{{ url_for('get_category', category_id=cat.category_name ) }}" id="category">
                            <div class="ui segment ">
                                <h4 class="ui black inverted header center aligned"> {{ cat.record.country }}</h4>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        </div>
    </div>
    {% endblock %}
