{% extends 'base.html' %} {% block content %}
<div class="container">

    <ul class="collapsible popout ">
        {% for recipe in recipes %}
        <li class="collection-item avatar"><h4></h4>{{ recipe.recipe_name }} </li>
        <li class="collection-item avatar"><h4></h4>{{ recipe.category }} </li>
        <li class="collection-item avatar"><h4></h4>{{ recipe.country }} </li>
        <li class="collection-item avatar"><h4></h4>{{ recipe.username}} </li>
        <li class="collection-item avatar"><h4></h4>{{ recipe.description}} </li>
    
            <a href="#!" class="secondary-content"><i class="material-icons">local_dining</i></a>
            
    

        {% endfor %}
        
    </ul>


</div>
{% endblock %}
