{% extends 'base.html' %} {% block content %}

<div class="ui segment  recipe-card">
   {% for recipe in recipes %}
    <div class="ui card ">
        <div class="image">
            <img src="/static/images/food-2068217_1280.jpg">
        </div>
        <div class="content">
            <div class="header">{{recipe.record.country}}</div>
            <div class="description">
                {{recipe.record.directions}}
            </div>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui button">
                <i class="like icon"></i> Like
            </div>
            <div class="ui primary button">
                <i class="book icon"></i> <a class="item blue-btn" href="recipe_detail">Read more</a>
            </div>
        </div>
    </div>
   {% endfor %}
</div>
{% endblock %}
