{% extends 'base.html' %} {% block content %}


<div class="container ui segment ">
    <h3>Edit Recipe</h3>
    <form class="ui form" action="{{ url_for('update_recipe', _id=recipes._id) }}" methods="POST" class="col s12">
        <div class="form-group">
            <input value='{{recipes.record.title}}' id="title" name="title">
            <label>Title</label>
        </div>
        <div class="form-group">
            <select id="category" name="category" class="ui search dropdown">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == recipes.record.category %}
                      <option value="{{recipes.record.category}}" selected="{{cat.category_name}}" >{{recipes.record.category}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
        </div>

        <div class="form-group">
            <input value='{{recipes.record.country}}' id="country" name="country" r>
            <label>Country</label>
        </div>
        <div class="form-group">
            <textarea id="textarea1" name="ingredients" class="materialize-textarea">{{recipes.record.ingredients}}</textarea>
            <label>Ingredients</label>
        </div>
        <div class="form-group">
            <textarea id="textarea1" name="directions" class="materialize-textarea">{{recipes.record.directions}}</textarea>
            <label>Directions</label>
        </div>
        <div class="form-group">
            <input value='{{recipes.record.allergens}}' id="allergens" name="allergens">
            <label>Allergens</label>
        </div>
        <button class="fluid ui big primary button" type="submit">Update Recipe</button>
    </form>
</div>
{% endblock %}
