{% extends 'base.html' %} {% block content %}
<div class="container">
    <h3>Edit Recipe</h3>
    <form class="ui form" action="{{ url_for('update_recipe', _id=recipes._id) }}" methods="POST" class="col s12">

        <div class="form-group">
            <input value='{{recipes.record.title}}' id="title" name="title">
        </div>

        <div class="form-group">
            <select id="category" name="category" class="ui search dropdown fluid">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == recipes.record.category %}
                      <option value="{{recipes.record.category}}" selected="{{cat.category_name}}" >{{recipes.record.category}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
        </div>

        <div class="form-group">
            <input id="country" name="country" value='{{recipes.record.country}}' placeholder="Country">
        </div>

        <div class="form-group">
            <input id="allergens" name="allergens" value='{{recipes.record.allergens}}'>
        </div>
        <div class="form-group">
            <input id="textarea1" name="ingredient" class="materialize-textarea" value='{{recipes.record.ingredients}}'></input>
        </div>
        <div class="form-group">
            <textarea id="textarea1" name="directions" class="materialize-textarea" value='{{recipes.record.directions}}'>{{recipes.record.directions}}</textarea>
        </div>

        <button class="fluid ui meduim red button" type="submit">Update Recipe</button>

    </form>
</div>
{% endblock %}
