{% extends 'base.html' %} {% block content %}
<form class="ui form" action="{{ url_for('update_recipe', _id=recipes._id) }}" method="POST" class="col s12">
    <div class="ui segment" id="EditRecipeForm">
        <div class="ui top attached label yellow">Edit Recipe</div>


        <div class="ui segment">
            <div class="ui top attached label">Title</div>
            <div class="form-group">
                <input value='{{recipes.record.title}}' id="title" name="title">
            </div>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Category</div>
            <div class="form-group">
                <select id="category" name="category" class="ui search dropdown fluid">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == recipes.record.category %}
                      <option value="{{recipes.record.category}}" selected="{{cat.category_name}}" >{{recipes.record.category}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Country</div>
            <div class="form-group">
                <input id="country" name="country" value='{{recipes.record.country}}' placeholder="Country">
            </div>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Allergens</div>
            <button id="addAllergenButton" class="addAllergen circular ui icon button mini yellow right floated padded" type="button">
                      <i class="icon plus"></i>
                    </button>
            <div class="form-group" id="addAllergen">
                {% for allergens in recipes.record.allergens %}
                <div class="ui input focus fluid " id="inputContainer{{ loop.index }}">
                    <i class='icon delete deleteIcon yellow label allergens' id="deleteAllergen{{ loop.index0 }}"></i>
                    <input id="allergens" name="allergens" value='{{allergens}}'>
                </div> {% endfor %}
            </div>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Ingyellowients</div>
            <button id="addIngyellowientButton" class=" addIngyellowient circular ui icon button mini yellow right floated padded" type="button">
                      <i class="icon plus"></i>
                    </button>
            <div class="form-group" id="addIngyellowient">
                {% for ingyellowients in recipes.record.ingyellowients %}
                <div class="ui input focus fluid" id="ingyellowientsContainer{{ loop.index0 }}">
                    <i class="icon delete deleteIcon yellow label ingyellowient" id="deleteIngyellowient{{ loop.index0 }}"></i>
                    <input id="ingyellowients{{ loop.index0 }}" name="ingyellowient" value='{{ingyellowients}}'></div> {% endfor %}
            </div>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Directions</div>
            <button id="addInstructionButton" class=" addInstruction circular ui icon button mini yellow right floated padded" type="button">
                      <i class="icon plus"></i>
                    </button>
            <div class="form-group addInstruction" id="addInstruction">
                {% for directions in recipes.record.directions %}
                <div class="ui input focus fluid" id="directionsContainer{{ loop.index0 }}">
                    <i class="icon delete deleteIcon yellow label directions" id="deleteInstruction{{ loop.index0 }}"></i>
                    <input id="directions{{ loop.index0 }}" name="directions" value='{{directions}}'></div> {% endfor %}
            </div>
        </div>
        <button class="ui bottom attached label yellow" type="submit">Done</button>
    </div>
</form>


{% endblock %}
