{% extends 'base.html' %} {% block content %}
<div class="ui container">
    <div class="ui placeholder segment login-form-wrapper">
        <div class="ui two column very relaxed stackable grid">
            <div class="middle aligned column">
                <form class="ui form" method=POST action="{{url_for('login')}}">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Username" id='username'>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="ui tiny yellow button" onclick="login()" )>Log In</button>
                </form>
            </div>
            <div class="middle aligned column">
                <a class="item register-btn" href="{{ url_for('register')}}">
                    <div class="ui small button yellow">
                        <i class="signup icon"></i>SignUp
                    </div>
                </a>
            </div>
        </div>

        <div class="ui vertical divider">
            Or
        </div>

    </div>
</div>

{% endblock %}
