{% extends 'base.html' %} {% block content %}
<div class="ui container">
    <div class="recipe-card">
        {% for recipe in recipe %}
        <div class="ui card fluid  id" id="{{recipe._id}}">
            <div class="content">
                <a class="like icon" onclick="add_like()"><i class="right floated like icon" ></i></a>
                <i class="right floated star icon"></i>
                <div class="header" id="title">{{ recipe.record.title.upper() }}</div>
                <div class="description">
                    <p>
                        {{recipe.record.directions}}
                    </p>
                </div>
            </div>
            <div class="extra content"> <a class="like icon">
            <span class="left floated like">
            Likes
            </span></a>
                <span class="right floated star">
              <i class="star icon"></i>
              Favorite
            </span>
            </div>

            <!--Check if user in session owns the recipe to show edit and delete buttons-->
            {% if recipe.uploaded_by == session.username %}
            <div class="ui mini basic icon buttons ">
                <a href="{{ url_for('add_recipe')}}"><button class="ui button" ><i class="add icon"></i>Add Recipe</button></a>
                <a href="{{ url_for('edit_recipe', _id=recipe._id)}}" class="item"><button class="ui button"><i class="edit icon"></i> Edit</button></a>
                <a href="{{ url_for('delete_recipe', _id=recipe._id)}}" methods="GET" class="item "><button class="ui button"><i class="delete icon"></i> Delete</button></a>
            </div>

            {% else %} {% endif %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!--href="{{ url_for('update_likes', _id=recipe._id)}}-->
