{% extends 'base.html' %} {% block content %}
<div class="container recipes-list">
    <div class="col s12">
        <form class="ui form" action="{{ url_for('register') }}" method="POST">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <label>Username</label>
                        <input type="text" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light submit-button green" type="submit">SignUp
                <i class="material-icons right">group_add</i>
             </button>
            </div>


        </form>

    </div>

</div>




{% endblock %}
