{% extends 'base.html' %} {% block content %}
<div class="ui container segment ">
    <div class="ui top attached label">Signup</div>
    <div class="row form-wrapper ui placeholder segment register-form loginWrapper">
        <div class="col-md-12 middle aligned column">
            <form class="ui form" action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" name="password" placeholder="Use a simple 123 Password">
                </div>
                <button class=" ui small yellow button left floated flatButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
